ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    ion-searchbar{
        padding: 8px 0px 0px 0px;
        --background: white;
    }
    ion-list{
        background: #fafafa;
    }
    ion-item{
        ion-avatar{
            width: 50px !important;
            height: 50px !important;
        }
        ion-label{
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 0;
            h2{
                font-size: 20px;
                font-family: 'roboto-regular' !important
            }
            p{
                color: gray;
                font-size: 14px;
                font-family: 'roboto-regular' !important
            }
        }
    }
}



.products-content {
    ion-button {
      --color: white;
    }
    ion-list {
      background: #fafafa;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 6px;
    }
    ion-row {
      margin-right: 10px;
    }
    ion-item {
      border-bottom: solid #eee;
      border-top: solid #eee;
      --padding-start: 0;
      ion-thumbnail {
        .badge-img {
          position: absolute;
          z-index: 1;
          height: 30px;
          width: 30px;
        }
  
        margin: 0;
        height: 100px;
        width: 100px;
        // img{
        // filter: brightness(0.9);
        // }
      }
      ion-icon {
        bottom: 2px;
        position: absolute;
        right: 10px;
        font-size: 14px;
        width: 20px;
      }
      ion-label {
        margin-bottom: auto;
        margin-left: 10px;
        p {
          font-size: 12px;
          color: black;
        }
      }
  
      .sale {
        background: black;
        // padding: 2px;
        color: white;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        // font-size: 12px;
  
        background: var(--ion-color-primary);
        text-align: center !important;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        // margin-left: auto;
        width: 34.12px;
        height: 14.88px;
        font-size: 9px;
      }
      .featured {
        background: var(--ion-color-primary);
        // padding: 2px;
        color: white;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 27px;
        // font-size: 12px;
        text-align: center !important;
        padding: 3px 5px 13px 5px;
        // margin-top: 5px;
        width: 54px;
        height: 15.57px;
        font-size: 9px;
        margin-top: -9px !important;
      }
    }
  }

  .select-option {
    margin: 8px -10px 10px 6px;
    border: 0px solid #fafafa;
    background: #f49441;
    color: white;
    height: 43px;
  }