<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/multiple-shipping-address">
        <ion-icon slot="icon-only" src="assets/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ecom-title">Update Shipping Address</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>{{services.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content (pinch)="pinchEvent($event)" class="content">

  <form class="form" [formGroup]="updatePro">

    <ion-item>
      <ion-label position="floating">Address Location</ion-label>
      <ion-input formControlName="address_detail" type="text" value={{responseDatainfo?.address_detail}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input  formControlName="shipping_first_name" type="text" value={{responseDatainfo?.username}}></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">{{'Last Name'|translate}}</ion-label>
      <ion-input formControlName="shipping_last_name" value="" type="text" name="shipping_last_name"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="shipping_email"  type="text" value={{responseDatainfo?.email}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="shipping_phone_number" type="Number" value={{responseDatainfo?.phone_number}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address 1</ion-label>
      <ion-input formControlName="shipping_address_1" type="text" value={{responseDatainfo?.shipping_address_1}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address 2 (Optional)</ion-label>
      <ion-input formControlName="shipping_address_2" type="text" value={{responseDatainfo?.shipping_address_2}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <!-- <ion-input formControlName="shipping_country_id" type="text" name="shipping_country_id" value="India" readonly></ion-input> -->
      <ion-select formControlName="shipping_country_id" class="seloption ionselectborder" value={{responseDatainfo?.shipping_country_id}}>
        <ion-select-option value="India">India</ion-select-option>
       </ion-select> 
    </ion-item>


      <ion-item>
        <ion-label position="floating">State</ion-label>
       <!-- <ion-input formControlName="shipping_state" type="text" value={{responseDatainfo?.shipping_state}} ></ion-input> -->
  
       <ion-select formControlName="shipping_state"  class="seloption ionselectborder" value={{responseDatainfo?.shipping_state}}>
         <ion-select-option value="delhi">Delhi</ion-select-option>
         <ion-select-option value="haryana">Haryana</ion-select-option>
         <ion-select-option value="UP">Uttar Pradesh</ion-select-option>
       </ion-select> 
          </ion-item>

    <ion-item>
      <ion-label position="floating">Place</ion-label>
      
       <ion-input formControlName="shipping_city" type="text" value={{responseDatainfo?.shipping_city}}></ion-input>

       </ion-item>

    <ion-item>
      <ion-label position="floating">Zip Code</ion-label>
      <ion-input formControlName="shipping_zip_code" type="Number" name="shipping_zip_code" value={{responseDatainfo?.shipping_zip_code}}></ion-input>
    </ion-item>
    
  </form>
  <ion-button expand="full" type="submit" [disabled]="!updatePro.valid" (click)="Updatemultipleshippingaddress()">
    Save Changes
  </ion-button>

</ion-content>