<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title" no-padding>{{'Forgot Password'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" padding class="content">
  <img src="assets/logo.png"/>

  <form class="form" [formGroup]="ForgotPass">
    <ion-item>
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="text" formControlName="email">
      </ion-input>
    </ion-item>

    <!-- <ion-item *ngIf="errorMessage!=''" lines="none">
      <ion-label>
        {{errorMessage| translate}}
      </ion-label>
    </ion-item> -->

    <ion-button expand="full" block  type="submit" [disabled]="!ForgotPass.valid" (click)="forgotPassword()">{{ 'SEND' | translate }}
    </ion-button>
  </form>

</ion-content>