<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">{{'Refund Policy'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content">
  <ion-text>
    <p>
      In keeping with Yes Genie’s goal of ensuring user satisfaction, this return and refund policy (“Return and Refund Policy”), together with the terms of use, sets out Yes Genie’s procedures and policies in accepting product returns, once a product has been delivered to a user after purchase from the platforms. Any return of products by users shall be governed by and subject to the terms and conditions set out under this return and refund policy.<br><br>

We make every effort to fulfill all the orders placed. However, please note that there may be certain orders that we are unable to process and must cancel. The reasons include limitations on quantities available for purchase, inaccuracies or errors in product, pricing and stock information.<br><br>

Users are required to peruse and understand the terms of this return and refund policy. if you do not agree to the terms contained in this return and refund policy, you are advised not to accept the terms of use and may forthwith leave and stop using the platforms. The terms contained in this return and refund policy shall be accepted without modification and you agree to be bound by the terms contained herein by initiating a request for purchase of product(s) on the platforms.<br><br>

Our customer service team will communicate to you if all or any portion of your order is cancelled. If your order is cancelled after your credit card has been charged, the said amount will be reversed back in your card account.<br><br>

Please contact our customer service in case you wish to cancel the order. On receipt of the cancellation notice, we shall cancel the order and refund the entire amount (less any transaction charges or banking charges that might have been incurred by us) if the order has not been processed by us. We will not be able to cancel orders that have already been processed or shipped out by us. In some cases this can happen in an hour after you place the order.<br><br>

1. Refunds<br><br>

We will refund the money in the same mode as the payment was made. If the payment was by credit card or net-banking, we will refund in your credit card or net-banking account. If the payment mode was cash on delivery (COD), we will refund the money to your bank account.<br><br>

Typically refunds take 5-7 business days to get reflected in bank account. In some cases, credit card issuing banks may take longer to reflect the credit posted on the card.<br><br>

Please feel free to mail us at info@yesgenie.com if you have any questions.<br><br>

2. Shipping and Cash on Delivery (COD) Fees<br><br>

Any shipping or cash on delivery (COD) fees charged against the order will not be refunded back.<br><br>

3. Returns Policy<br><br>

The entire process takes about 5-7 business days. Thank you for co-operation and patience.<br><br>

We are committed to ensuring your satisfaction with any product you have ordered from us. If you are not satisfied with any product, we will accept returns within 7 days from the date of delivery as follows:<br><br>

<span>
  <ul>
    <li>In the unlikely event that any product you have ordered from us is not received in good condition, is damaged or defective, or if product delivered is different from what you had ordered, you may return the product unused along with its original invoice, and in the same condition as you received it, in its original packaging along with original tags, for a refund or an exchange, within 7 days from the date on which these goods are delivered.</li>
    <li>Please do not accept delivery of any item whose outer packaging is damaged or tampered with in any manner. Please contact customer care if you open the packaging and discover that the item is damaged.</li>
    <li>Products damaged while being used do not qualify for a refund or replacement.</li>
    <li>In case we are unable to replace the damaged / defective product, we will refund back the order amount to you.</li>
    <li>In case a product comes with manufacturer warranty, customer should contact the manufacturer directly and follow the return/replacement procedure as per the manufacturer policy.</li>
    <li>In case your location supports reverse pickup, we shall be arranging a reverse pickup of the products from your location free of cost. You just need to pack the products properly and hand over the packet with our address to the courier person who we will arrange to come to your doorsteps. Please retain the receipt/POD given by courier personal.</li>
    <li>Typical time of reverse pickup is 1-5 business days from the date of request, however in certain cases it may be longer. Customer shall get full refund amount entitled as per the policy if the request is raised within stipulated returns allowed time window and need not worry about reverse pickup delays.</li>
    <li>Refund shall be initiated once the products reaches back our warehouse and necessary checks are completed to clear the refund process.</li>
    <li>We strive to have the returns process as quick as possible however customer cannot claim any interest/penalty due to reverse pickup, transit or any other returns processing delays.</li>
    <li>We hold the right to cancel the order placed by the customer or refuse the return request in case the customer has returned too many orders.</li>
    <li>A return can be created at item level and if you have ordered multiple items, you can initiate a return/replacement/refund for any individual item. However, any product being returned needs to be returned in full including all components as well as any complimentary gifts or products which came along with it.</li>
  </ul>
</span>
 

Returns will not be accepted under the following conditions:<br><br>

<span>
  <ul>
    <li>Product is damaged due to misuse/overuse</li>
    <li>Returned without original packaging including, price tags, labels, original packing, freebies and other accessories or if original packaging is damaged</li>
 <li>Serial Number is tampered with.
</li> 
 <li>Defective products that are not covered under Seller/Manufacturer’s warranty</li> 
 <li>Product is used or altered</li> 
  </ul>
</span>
 

 

4. Exclusions<br><br>
We won't be able to accept returns in the following categories:<br><br>

<span>
  <ul>
    <li>Nightwear with Briefs(G-Strings)</li>
    <li>Panties</li>
    <li>G-Strings & Thongs</li>
    <li>Bikini</li>
    <li>Swimwear</li>
    <li>Costumes</li>
    <li>Men's Briefs</li>
    <li>Contraceptives</li>
    <li>Sexual Well-Being products</li>
    <li>Cosmetics</li>
    <li>Face creams, lotions, hair care products</li>
    <li>Healthcare Equipments</li>
    <li>Deodorants and perfumes;</li>
    <li>Fashion Jewellery;</li>
    <li>Socks and stockings;</li>
    <li>Groceries</li>
    <li>Such other Products as may be specified by Yes Genie from time to time.</li>


  </ul>
</span>










5. Mode of Return<br><br>
To provide highest standards of customer service and enable a completely hassle-free experience, we pick up the returns through courier collection FREE of cost<br><br>

You may contact our Customer Care within 7 calendar days of having received the product and request a return/exchange, subject to the above mentioned terms and conditions. We will arrange for the products to be collected from the delivery address through courier free of cost and shall process the return/exchange subject to receipt of the products at our location in unused condition and in its original packaging along with the invoice, failing which return/exchange may not be possible.<br><br>

Please e-mail us at info@yesgenie.com if you have any questions.<br><br>

6. Grievance Redressal<br><br>
Any grievances relating to the return and refund policy may be directed by you to the grievance officer of Yes Genie who can be contacted at info@yesgenie.com<br><br>


    </p>
  </ion-text>
</ion-content>