.imgclass{
    width: 27px;
    height: 27px;
}

ion-badge{
       position: absolute;
        right: 15px;
        bottom: 21px;
       color: white; 
       font-size: 13px;
       background-color: #1ab0c1;
}


.support{
    width: 32px;
    height: 32px;
}