.doct{
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.imgloc{
        width: 52px;
        height: 52px;
    }

.drdesc{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
}

.drbutton {
    background: white;
    margin: auto;
    width: 95px;
    height: 40px;}

.drdegree{
    font-size: 15px;
    font-weight: 400;
}