<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-card>
        
    <ion-row class="ion-activated">
      <ion-col class="doct">Total Following:</ion-col>
       <ion-col class="doct">{{folloing}}</ion-col>
    </ion-row>
       </ion-card>

  <ion-card *ngFor="let item of responseData; let i index">
      
      <ion-avatar style="margin: auto;">
        <ion-img src="assets/avatar.png"></ion-img>
      </ion-avatar>

       <h2 style="text-align: center;">{{item.username}}</h2>
       <p style="text-align: center;">{{item.email}}</p>

    <!-- <ion-row class="ion-activated">
  <ion-button class="drbutton" (click)="onClickDraftById(item.id)">Edit</ion-button>
    </ion-row> -->

  </ion-card>

</ion-content>
