

<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title">
      Nearest Product
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="opensearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge>{{services.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" id="productContent" class="products-content">
  <!-- scrollable segment divisions -->
          <ion-grid no-padding class="animated fadeIn fast">
              <ion-row no-padding>
                  <ion-col *ngFor="let p of nearestProduct" size="6" no-padding>
                      <app-product [data]="p" [type]="'normal'"></app-product>
                  </ion-col>
              </ion-row>
          </ion-grid>

</ion-content>
